@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;1,300&display=swap');


.bg {
  background-image: url("https://images.pexels.com/photos/1098769/pexels-photo-1098769.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.right img{
	height: 300px;
	width: 500px;
	margin-left: 60px;
	box-shadow:0px 3px 14px 10px rgba(74, 67, 255, 0.69);
}
.thirty{
	margin-left: 30px;
}
.left h1,h2,p{
	font-family: 'Averia Serif Libre', cursive;
}
.left span{
	color: rgba(74, 67, 255, 0.69);
}
.center{
	margin-left: 20%;
}
.left img{
	height: 400px;
	width: 500px;
	box-shadow:0px 3px 14px 10px rgba(74, 67, 255, 0.69);
}
.rotate{
	background-color: #fce16d;
	color: white;
}